body{
    margin: 0;
    background-color: black;
    overflow: hidden;
}

main{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
}

#bg{
    position: fixed;
    bottom: 0;left: 0;right: 0;top: 0;
}

#bg .img{
    height: 80vh;
    position: absolute;
    top: 0;
    transition: left .5s linear;
}


#bg .img img{
    height: 100%;
}

.game .ground {
    position: fixed;
    left: 0;right: 0;bottom: 15%;
    height: 50px;
    background-color: blue;
}

.game{
    width: 100%;
    height: 100%;
    position: relative;
}

.game .player,
.game .sub-player {
    position: absolute;
    left: 10%;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 4rem;
    background-color: rebeccapurple;
}

.game .sub-player{
    bottom: calc(10% + 500px);
    opacity: 0;
    transition: opacity .5s ease;
}

.game .sub-player.press{
    opacity: 1;
}

.game .player.press{
    background-color: green;
}

.game .line1,
.game .line2{
    position: absolute;
    z-index: 1;
    left: 0;right: 0;
    height: 30vh;
}

.game .line1{
    /* background-color: rgba(255, 0, 204, 0.572); */
    bottom: calc(15% + 50px);
}

.game .line1::after{
    content: "";
    border-radius: 50%;
    border: 2px dashed #898989;
    position: absolute;
    height: 20%;
    aspect-ratio: 1;
    left: calc(15% + 60px);
    bottom: 40%;
}

.game .line2::after{
    content: "";
    border-radius: 50%;
    border: 2px dashed #898989;
    position: absolute;
    height: 20%;
    aspect-ratio: 1;
    left: calc(15% + 60px);
    top: 40%;
}

.game .line1.press::after,
.game .line2.press::after{
    background-color: aliceblue;
}

.game .line2{
    /* background-color: rgba(0, 255, 81, 0.481); */
    bottom: calc(15% + 350px);
}

.game .lineHit{
    position: fixed;
    /* border: 1px solid #fff; */
    top: 0;bottom: 0;left: calc(15% + 80px);
}

.game .line1 .container ,
.game .line2 .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.game .box {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    width: 80px;height: 80px;
    background-color: brown; 
}

.game .hold {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    width: 80px;
    height: 80px;
    background-color: rgb(42, 165, 144); 
}

.game .box::after{
    /* content: "";
    position: absolute;
    top: calc(50% - 40px);
    width: 80px;height: 80px;
    background-color: brown; */
}

#AP {
    position: fixed;
    z-index: 9;
    left: 17%;
    bottom: 55%;
}

#AP>*{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    width: 200px;
    scale: 0;
}

#AP>.pf{
    /* scale: 1; */
    background: -webkit-linear-gradient(#87edff, #e7baff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AP>.gt{
    /* scale: 1; */
    background: -webkit-linear-gradient(#f187ff, #fb3e61);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AP>.gd{
    /* scale: 1; */
    background: -webkit-linear-gradient(#7fff6b, #12f48e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AP>.bad{
    /* scale: 1; */
    background: -webkit-linear-gradient(#ffeb87, #f4ac12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AP>.miss{
    /* scale: 1; */
    background: -webkit-linear-gradient(#ff8787, #f41212);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AP.pf>.pf{
    animation: zoomIn .5s;

}

#AP.gt>.gt{
    animation: zoomIn .5s;

}

#AP.gd>.gd{
    animation: zoomIn .5s;

}

#AP.bad>.bad{
    animation: zoomIn .5s;

}

#AP.miss>.miss{
    animation: zoomIn .5s;
}

@keyframes zoomIn {
    0%{
        scale: 0;
    }
    45%{
        scale: 1.1;
    }
    50%{
        scale: 1;
    }
    100%{
        scale: 1;
    }
}

.game .line1 .container>*.h ,
.game .line2 .container>*.h {
    display: none;
}
