*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img img{
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
}

main .bg{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
   
}

main .bg img{
    min-width: 100%;
    height: 100%;
    scale: 1.2;
    
}

main #list{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(.5); */

}

main #list #my-phone{
    width: 50%;
    height: 100%;
    transform: rotate(-12deg);
    
}

main #list #my-phone .img{
    height: 80%;
    aspect-ratio: 9/16;
    position: relative;
}

main #list #my-phone .img img{
    width: 100%;
}

main #list #my-phone .img .playlist,
main #list #my-phone .img .selection{
    position: absolute;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 78%;
    z-index: -1;
}
main #list #my-phone .img .playlist{
    background: radial-gradient(rgba(255, 168, 254, 0.302),rgba(145, 255, 255, 0.394),rgba(60, 255, 57, 0.294));
    overflow: hidden;
}

main #list #my-phone .img .selection {
    z-index: 3;
}

main #list #my-phone .img .playlist li{
    position: absolute;
    width: 100%;
    height: calc(100% / 7);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    gap: 5px;
    transition: all .2s linear;
}

.playlist li .avt{
    height: 100%;
    aspect-ratio: 1;
}

.playlist li .avt img{
    width: 100%;
    height: 100%;    
}

.playlist li .info{
    flex: 1;
}

.playlist li .info p:first-child{
    font-size: 14px;
    font-family: sans-serif;
    flex: 1;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000;
}

.playlist li .info p:last-child{
    font-size: 12px;
    font-style: italic;
    color: rgb(234, 234, 234);
}

.playlist li .diff{
    height: 60%;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid #fff;
    display: flex;
}

.playlist li .diff *{
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}

@keyframes op0{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes op1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.playlist li{
    top: calc(100% / 2);
    opacity: 0;
}
.playlist li.item0{
    top: calc(100% / 7 * -4);
    opacity: 1;
}

.playlist li.item1{
    top: calc(100% / 7 * -3);
    opacity: 1;
}

.playlist li.item2{
    top: calc(100% / 7 * -2);
    opacity: 1;
}

.playlist li.item3{
    top: calc(100% / 7 * -1);
    opacity: 1;
}

.playlist li.item4{
    top: calc(100% / 7 * 0);
    opacity: 1;
}
.playlist li.item5{
    top: calc(100% / 7 * 1);
    opacity: 1;
}
.playlist li.item6{
    top: calc(100% / 7 * 2);
    opacity: 1;
}
.playlist li.item7{
    top: calc(100% / 7 * 3);
    scale: 1.05;
    background: linear-gradient(45deg,#e32ba9,#ec64a1,rgb(230, 57, 57));
    opacity: 1;
}
.playlist li.item8{
    top: calc(100% / 7 * 4);
    opacity: 1;
}
.playlist li.item9{
    top: calc(100% / 7 * 5);
    opacity: 1;
}
.playlist li.item10{
    top: calc(100% / 7 * 6);
    opacity: 1;
}

.playlist li.item11{
    top: calc(100% / 7 * 7);
    opacity: 1;
}

.playlist li.item12{
    top: calc(100% / 7 * 8);
    opacity: 1;
}

.playlist li.item13{
    top: calc(100% / 7 * 9);
    opacity: 1;
}

.playlist li.item14{
    top: calc(100% / 7 * 10);
    opacity: 1;
}

.playlist li.show{
    animation: op1 0 .2s forwards;
}

.playlist li.hide{
    animation: op0 0 .2s forwards;
}

/*  */

#list .first-start{
    display: flex;
    align-items: center;
    justify-content: center;
}

#list .first-start .box-controller{
    width: 30vw;
    min-width: 300px;
    aspect-ratio: 1;
    border: 3px solid #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #00000022;
}

#list .first-start .box-controller .avt {
    width: 70%;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden;
}

#list .first-start .box-controller .avt img{
    width: 100%;
}


#list .first-start .box-controller .info p{
    text-align: center;
}

#list .first-start .box-controller .info p:first-child {
    font-size: 1.6rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-family: sans-serif;
}

#list .first-start .box-controller .info p:last-child {
    font-size: 1rem;
    color: #fff;
    font-style: italic;
}

#list .first-start .box-controller .start{
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #fff;
    aspect-ratio: 1;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    animation: colorful 10s ease-in infinite;
}

#list .first-start .box-controller .start i{
    margin: auto;
    font-size: 1.2rem;
    color: #fff;
    animation: bonuce 2s ease-in infinite;
}

@keyframes colorful {
    0%{
        background-color: #2be3d4;
    }
    20%{
        background-color: #70ff9d;
        
    }
    40%{
        background-color: #92deff;
        
    }
    60%{
        background-color: #60a7ff;
        
    }
    80%{
        background-color: #56ff94;
        
    }
    100%{
        background-color: #2be3d4;
    }
}

@keyframes bonuce {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-5px);
    }
    36%{
        transform: translateY(0px);
    }
    52%{
        transform: translateY(-4px);
    }
    68%{
        transform: translateY(0px);
    }
    71%{
        transform: translateY(-3px);
    }
    75%{
        transform: translateY(-0px);
    }
    77%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*  */

#list .musicWave1{
    position: absolute;
    top: 0;bottom: 0vh;left: 0;right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #fff;
    z-index: -3;
}


#list .musicWave1 .char{
    width: calc(100% / 12 - 3px);
    height:  30%;
    background-color: rgba(255, 255, 255, 0.266);
    transition: height .1s ease;
    filter: blur(2px);

}


block{
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;bottom: 0;left: 0;right: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}