*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img img{
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
}

main .bg{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
   
}

main .bg img{
    min-width: 100%;
    height: 100%;
    scale: 1.2;
    filter: blur(10px);
}

main #list,
main #ready{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    /* backdrop-filter: brightness(.5); */
    transition: transform .5s ease;

}

/* phone */


#list .first-start{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#list .first-start::after{
    content: "";
    position: absolute;
    top: 15vh;
    height: 70vh;
    left: 0;
    right: 0;
    background-color: #0000002a;
    z-index: -2;
}


#list .first-start .box-controller {
    width: 70%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

/* main #list .my-phone .img .box-controller, */
main #list .box-controller .selection{
    position: absolute;
    top: 0;
    left: 0;right: 0;bottom: 0;
    z-index: -1;
}
main #list .box-controller .playlist{
    background: radial-gradient(rgba(255, 168, 254, 0.302),rgba(145, 255, 255, 0.394),rgba(60, 255, 57, 0.294));
    overflow: hidden;
}

main #list .box-controller .selection {
    z-index: 3;
}

main #list .box-controller .playlist li{
    position: absolute;
    width: 100%;
    height: calc(100% / 7);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 1rem;
    box-sizing: border-box;
    gap: 5px;
    transition: all .2s linear;
}

.playlist li .avt{
    height: 100%;
    aspect-ratio: 1;
}

.playlist li .avt img{
    width: 100%;
    height: 100%;    
}

.playlist li .info{
    flex: 1;
}

.playlist li .info p:first-child{
    font-size: 14px;
    font-family: sans-serif;
    flex: 1;
    color: aliceblue;
    text-shadow: 2px 2px 2px #000;
}

.playlist li .info p:last-child{
    font-size: 12px;
    font-style: italic;
    color: rgb(234, 234, 234);
}

.playlist li .diff{
    height: 60%;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid #fff;
    display: flex;
}

.playlist li .diff *{
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
}

@keyframes op0{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes op1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.playlist li{
    top: calc(100% / 2);
    opacity: 0;
}
.playlist li.item0{
    top: calc(100% / 7 * -4);
    opacity: 1;
}

.playlist li.item1{
    top: calc(100% / 7 * -3);
    opacity: 1;
}

.playlist li.item2{
    top: calc(100% / 7 * -2);
    opacity: 1;
}

.playlist li.item3{
    top: calc(100% / 7 * -1);
    opacity: 1;
}

.playlist li.item4{
    top: calc(100% / 7 * 0);
    opacity: 1;
}
.playlist li.item5{
    top: calc(100% / 7 * 1);
    opacity: 1;
}
.playlist li.item6{
    top: calc(100% / 7 * 2);
    opacity: 1;
}
.playlist li.item7{
    top: calc(100% / 7 * 3);
    scale: 1.05;
    background: linear-gradient(45deg,#e32ba9,#ec64a1,rgb(230, 57, 57));
    opacity: 1;
}
.playlist li.item8{
    top: calc(100% / 7 * 4);
    opacity: 1;
}
.playlist li.item9{
    top: calc(100% / 7 * 5);
    opacity: 1;
}
.playlist li.item10{
    top: calc(100% / 7 * 6);
    opacity: 1;
}

.playlist li.item11{
    top: calc(100% / 7 * 7);
    opacity: 1;
}

.playlist li.item12{
    top: calc(100% / 7 * 8);
    opacity: 1;
}

.playlist li.item13{
    top: calc(100% / 7 * 9);
    opacity: 1;
}

.playlist li.item14{
    top: calc(100% / 7 * 10);
    opacity: 1;
}

.playlist li.show{
    animation: op1 0 .2s forwards;
}

.playlist li.hide{
    animation: op0 0 .2s forwards;
}

/*  */




@keyframes colorful {
    0%{
        background-color: #2be3d4;
    }
    20%{
        background-color: #70ff9d;
        
    }
    40%{
        background-color: #92deff;
        
    }
    60%{
        background-color: #60a7ff;
        
    }
    80%{
        background-color: #56ff94;
        
    }
    100%{
        background-color: #2be3d4;
    }
}

@keyframes bonuce {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-5px);
    }
    36%{
        transform: translateY(0px);
    }
    52%{
        transform: translateY(-4px);
    }
    68%{
        transform: translateY(0px);
    }
    71%{
        transform: translateY(-3px);
    }
    75%{
        transform: translateY(-0px);
    }
    77%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

/*  */

.my-phone{
    width: 50%;
    height: 100%;
    transform: rotate(12deg) translateY(5%);    
}

.my-phone .img{
    margin: auto;
    height: 90%;
    aspect-ratio: 9/16;
    position: relative;
}

.my-phone .img img{
    width: 100%;
}

/*  */

.my-phone .img .content{
    position: absolute;
    top: 12%;
    height: 77%;
    width: 80%;
    left: 10%;
    background:radial-gradient(#d0ffffaa,#d8e9e8aa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img .content .avt{
    width: 80%;
    aspect-ratio: 1;
    overflow: hidden;
}

.img .content .avt img{
    width: 100%;
}

.img .content .info{
    margin: 5px 0;
    text-align: center;
    color: #fff;
}

.img .content .info p:first-child{
    font-size: 1.6rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 3px #000;
}

.img .content .info p:last-child{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: 1px 1px 3px #000;
}

.img .content .diff-text{
    border: 2px solid #fff;
    background-color: #6a0284;
    font-family: sans-serif;
    color: #fff;
    padding: 6px 1rem;
    border-radius: 1rem;
}

.img .content .diff{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 5px;
    width: 100%;
}

.img .content .diff .item{
    aspect-ratio: 1;
    width: 15%;
    border: 2px solid #fff;
    border-radius: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.img .content .diff .item.select.normal{
    background-color:#00e052 ;
}

.img .content .diff .item.select.expert{
    background-color: #e61b7d;
}

.img .content .diff .item.select.master{
    background-color: #6a0284;
}

.img .content .start{
    aspect-ratio: 1;
    display: flex;
    border-radius: 50%;
    border: 3px solid #fff;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    animation: colorful 3s ease infinite;
    cursor: pointer;
    transition: all .2s ease;
}

.img .content .start:hover{
    scale: 1.05;
}

/*  */

.musicWave1{
    position: absolute;
    top: 0;bottom: 0vh;left: 0;right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #fff;
    z-index: 1;
}


.musicWave1 .char{
    width: calc(100% / 12 - 3px);
    height:  30%;
    background-color: rgba(255, 255, 255, 0.266);
    transition: height .1s ease;
    filter: blur(2px);

}


block{
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;bottom: 0;left: 0;right: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}

main #list.hide,
main #ready.hide{
    transform: translateY(100%);
}

/* main #ready{
    /* background-color: #2be3d4; 
} */

main #ready .my-phone {
    width: 40%;
}

main #ready .last-start{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-start .box-card{
    width: 80%;
    height: fit-content;
    min-width: 400px;
    border-radius: 1rem;
    border: 3px solid #fff;
    padding: 1rem;
}
.last-start .box-card .header{
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
}

.last-start .box-card .header .info {
    display: flex;
    align-items: center;
    color: #fff;font-family: sans-serif;
    justify-content: space-between;
}

.last-start .box-card .header .info .score{
    font-size: 1rem;
}

.last-start .box-card .header .info .score span{
    font-size: 1.6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.last-start .box-card .header .info .option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.last-start .box-card .header .info .option div{
    border: 1px solid #000;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #5e6260;
    cursor: pointer;
}

.last-start .box-card h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 0px 1px #e32ba9;
    font-size: 1.8rem;
}

.last-start .box-card .body{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-start .box-card .body .item{
    width: calc(100% / 5 - 5px);
    height: 40vh;
    overflow: hidden;
    border-radius: 2rem;
    animation: border-color 5s linear infinite;
    display: flex;
}

.last-start .box-card .body .item img{
    margin: auto;
    height: 100%;
}

@keyframes border-color {
    0%{
        border: 4px solid #56ff94;
    }
    20%{
        border: 4px solid #ff5656;
    }
    40%{
        border: 4px solid #5664ff;
    }
    60%{
        border: 4px solid #f9ff56;
    }
    80%{
        border: 4px solid #d856ff;
    }
    100%{
        border: 4px solid #56ff94;
    }
}

.my-phone .back{
    
    width: 15%;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 7.9%);
    cursor: pointer;
    bottom: .4%;
    animation: back-btn 2s infinite;
    filter: blur(2px);
}

@keyframes back-btn {
    0%{
        background-color: #3838385c;
    }
    50%{
        background-color: #d9d9d95c;
    }
    100%{
        background-color: #3838385c;
    }
}

